@import "../../sass/variables";
@import "../../sass/mixins";

.PastDuePanel {
	min-width: 25rem;
	width: 100%;
	max-height: 100%;
	height: 100%;
	padding: 1rem 1rem;
	padding-bottom: 4rem;
	border-radius: 0.5rem;
	border-bottom: 10rem solid #ffffff;
	background-color: #ffffff;
	box-shadow: map-get($map: $shadows, $key: "medSubtle");
	position: relative;
	z-index: 5;

	&_controls {
		width: 100%;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		@include row_end_center;
		margin-bottom: 2rem;

		& > span {
			font-size: 1.3rem;
			color: map-get($map: $colors, $key: "main");
			-webkit-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
			&:hover {
				cursor: pointer;
				color: map-get($map: $colors, $key: "mainBlue");
			}

			&_icon {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&_search {
		width: 100%;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		margin-bottom: 4rem;
	}

	&_entries {
		width: 100%;
		height: 100%;
		padding-bottom: 3rem;
		overflow-y: auto;
		position: relative;
		@include scroll_gradient;
		z-index: 5;
		& > hr {
			opacity: 0.6;
			margin: 1rem 0;
		}
	}

	&_viewMore {
		width: 100%;
		height: 100%;
		padding: 0.2rem 0.5rem;
		@include row_start_center;

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: #ffffff;
		}
	}
}
